@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(36deg, #e8e8e8, #dfdfdf);
  color: #2e2e2e;
}
.wrapper {
  width: 100%;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader.hide {
  opacity: 0;
  display: none;
}

.preloader-inner {
  width: 60px;
  height: 60px;
  position: relative;
}

.preloader-spinner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navigation Bar  */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-brand img {
  height: 40px;
}

.navbar-toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.navbar-collapse {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 40px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin-right: 20px;
  font-family: "Nunito", sans-serif;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.navbar-nav li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  transition: color 0.2s;
}

.navbar-nav li a:hover {
  color: #007bff;
}

.navbar-search input[type="text"] {
  width: 224px;
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  background: rgba(237, 238, 242, 1);
}

.navbar-search button[type="submit"] {
  color: #000;
  font-size: 16px;
  margin-left: -30px;
  cursor: pointer;
  border: none;
}

.navbar-imgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-imgs a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

.navbar-imgs a:hover {
  color: #007bff;
}

.navbar-icons img {
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
    display: none;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav li {
    margin: 10px 0;
  }

  .navbar-search {
    margin-top: 10px;
  }

  .navbar-search input[type="text"] {
    width: 100%;
  }

  .navbar-search button[type="submit"] {
    margin-left: 0;
  }

  .navbar-imgs {
    margin-top: 10px;
  }

  #menu-open:checked + .navbar-collapse {
    display: flex;
  }
}
/* Navigation Bar  */

/* Post Section  */
/* .deserts {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-around;
} */
.deserts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  padding-top: 10px;
}
.desert_card {
  cursor: pointer;
  width: 540px;
  height: 188px;
  border-radius: 16px;
  background-color: rgba(243, 244, 255, 1);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.desert_card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.desert_card_title {
  display: flex;
  flex-direction: column;
}
.desert_card h3 {
  color: #2b2b43;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.1px;
  font-family: "Nunito", sans-serif;
}
/* Menu  */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.menu {
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  height: 90px;
  border: #bcbcbc 1px solid;

  border-radius: 13px;
}
.menu_items img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}
.menu_items:hover {
  background-color: #f0f2fd;
  transition: 0.4s;
  border: #0093ee 2px solid;
}
/* Posts  */
.feature {
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.object {
  width: 350px;
  height: 280px;
  margin-top: 20px;
  flex-direction: column;
  cursor: pointer;
  border-radius: 13px;
  border: #bcbcbc 1px solid;
}

.post_img {
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0px 0px;
}

.post_title {
  margin: 16px;
  display: flex;
  justify-content: space-between;
}

.post_title p {
  color: rgb(152, 152, 152);
}
.sushi {
  margin-left: 4%;
  border-radius: 10px;
  width: 75px;
  height: 23px;
  cursor: pointer;
  border: 1px solid #edeef2;
  font-size: 12px;
  background: #edeef2;
}
.sushi:hover {
  background-color: #f0f2fd;
}
/* Posts  */
